$blackish: #202020;
$darkgrey: #3F3F3F;
$mediumgrey: #707070;
$eggyellow: #FFDF6C;
$white: #FFFFFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body {
    background-color: $blackish;
}

.toggleBtn {
    color: $eggyellow;
    font-size: 20px;
    position: fixed;
    top: 12px;
    right: 20px;
    display: none;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $blackish;
    position: fixed;
    padding: 10px;
    width: 100%;
    transition: 0.5s;

    .logo img {
        width: 100px;
    }
    .menu {
        display: flex;
    }
   
    li {
        list-style-type: none;
    }
    li a {
        text-decoration: none;
        color: $white;
        padding: 15px;
        transition: 0.3s;
        display: block;
    }
   li a:hover {
       color: $eggyellow;
       transition: 0.3s;
   }
}
.homepage {
    max-width: 1100px;
    margin: auto;
    padding: 20px;

    h2 {
        margin-top: 180px;
        color: $darkgrey;
        font-size: 30px;
    }
    h1 {
        color: $white;
        font-weight: 900;
        font-size: 40px;
    }
    p {
        color: $mediumgrey;
        margin-top: 10px;
    }
    .contact-btn {
        margin-top: 40px;
        a {
            border: 1px solid $eggyellow;
            text-decoration: none;
            color: $eggyellow;
            padding: 10px 30px;
            letter-spacing: 2px;
            font-size: 13px;
        }
    }
}
.info-section {
    margin: auto;

    h1 {
        color: $eggyellow;
        text-align: center;
        letter-spacing: 5px;
    }
    p {
        color: $white;
    }
    .top-wave {
        display: block;
        margin-top: 120px;   
    }
    .bottom-wave {
        transform: rotate(180deg);
    }
    
}

.services, .contact {
    margin-top: 400px;
}


.about {
    background-color: $white;
    padding: 25px;
    height: 80vh;
    overflow: hidden;
    .container {
        max-width: 1000px;
        margin: auto;
        padding: 30px 0;
    }
    .profile {
        margin-top: 25px;
        display: flex;

        img {
            max-width: 150px;
            border-radius: 100px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .imageBox {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .title {
            color: $mediumgrey;
            margin-top: 10px;
            
        }

        .content {
            padding-left: 50px;
            
        
            p {
                margin-top: 10px;
                font-size: 16px;
                line-height: 30px;
                color: $blackish;
            }
            .school {
                text-decoration: none;
                color: $mediumgrey;
            }
            .cv {
                margin-top: 30px;
            }
            .cv a {
                font-size: 15px;
                color: $blackish;
                border: 2px solid $eggyellow;
                text-decoration: none;
                padding: 10px 30px;
                transition: 0.3s;
            }
            .cv a:hover {
                background-color: $eggyellow;
                color: $blackish;
                transition: 0.3s;
            }
        }
    }
}

.services {
    .container {
        margin-top: 20px;
        display: flex;
        justify-content: space-evenly;
        h2 {
            color: $mediumgrey
        }
        div {
            margin: 30px;
        }

    }
}

@media (max-width: 560px){
    .about {
        height: 100vh;
        .profile {
            flex-direction: column;
        }
        img {
            width: 120px;
        }
        .content {
            margin-top: 30px;
            padding: 0 !important;
        }
        p {
            text-align: justify;
        }
    }
    .services {
        .container {
            flex-direction: column;
        }
        p {
            margin-top: 12px;
        }
    }
    
}
@media (max-width: 625px){
    .toggleBtn {
        display: block;
        z-index: 3;

         i {
            transition: 0.5s;
        }
    }
    .nav {
        flex-direction: column;
        align-items: flex-start;
        
        .menu {
            flex-direction: column;
            width: 100%;
            height: 0;
            overflow: hidden;
            transition: 0.3s all ease-in-out;
        }
        li {
            text-align: center;
            margin: 8px;
        }
    }
    
}

.rotate-arrow {
    transform: rotate(-180deg);
    transition: 0.5s;
}
.toggle-navlink {
    height: 310px !important;
    transition: 0.3s all ease-in-out;
}
.sticky {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}