* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #202020;
}

.toggleBtn {
  color: #FFDF6C;
  font-size: 20px;
  position: fixed;
  top: 12px;
  right: 20px;
  display: none;
  cursor: pointer;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202020;
  position: fixed;
  padding: 10px;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav .logo img {
  width: 100px;
}

.nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav li {
  list-style-type: none;
}

.nav li a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

.nav li a:hover {
  color: #FFDF6C;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.homepage {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.homepage h2 {
  margin-top: 140px;
  color: #3F3F3F;
  font-size: 30px;
}

.homepage h1 {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 40px;
}

.homepage p {
  color: #707070;
  margin-top: 10px;
}

.homepage .contact-btn {
  margin-top: 40px;
}

.homepage .contact-btn a {
  border: 1px solid #FFDF6C;
  text-decoration: none;
  color: #FFDF6C;
  padding: 10px 30px;
  letter-spacing: 2px;
  font-size: 13px;
}

.info-section {
  margin: auto;
}

.info-section h1 {
  color: #FFDF6C;
  text-align: center;
  letter-spacing: 5px;
}

.info-section p {
  color: #FFFFFF;
}

.info-section .top-wave {
  display: block;
  margin-top: 20px;
}

.info-section .bottom-wave {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.services, .contact {
  margin-top: 400px;
}

.about {
  background-color: #FFFFFF;
  padding: 25px;
  height: 80vh;
  overflow: hidden;
}

.about .container {
  max-width: 1000px;
  margin: auto;
  padding: 30px 0;
}

.about .profile {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .profile img {
  max-width: 150px;
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about .profile .imageBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .profile .title {
  color: #707070;
  margin-top: 10px;
}

.about .profile .content {
  padding-left: 50px;
}

.about .profile .content p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 30px;
  color: #202020;
}

.about .profile .content .school {
  text-decoration: none;
  color: #707070;
}

.about .profile .content .cv {
  margin-top: 30px;
}

.about .profile .content .cv a {
  font-size: 15px;
  color: #202020;
  border: 2px solid #FFDF6C;
  text-decoration: none;
  padding: 10px 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about .profile .content .cv a:hover {
  background-color: #FFDF6C;
  color: #202020;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services .container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.services .container h1 {
  color: #707070;
}

.services .container div {
  margin: 30px;
}

.contact .container {
  max-width: 1100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .container .info div {
  margin: 30px;
}

.contact .container .info span {
  font-size: 20px;
  padding-left: 20px;
  color: #FFFFFF;
}

.contact .container .fas {
  color: #FFDF6C;
  font-size: 40px;
}

.contact .container .form {
  padding: 0 10px 0 50px;
  margin-top: 25px;
}

.contact .container .form form {
  max-width: 500px;
  display: block;
}

.contact .container .form .contact-text {
  margin: 8px 0;
  width: 100%;
  border: 0;
  background-color: #3F3F3F;
  padding: 10px 20px;
  outline: none;
  color: #FFFFFF;
  font-size: 18px;
}

.contact .container .form .contact-text:focus {
  -webkit-box-shadow: 0 0 5px #ffdf6c;
          box-shadow: 0 0 5px #ffdf6c;
  border: 1px solid #ffdf6c;
}

.contact .container .form .send-btn {
  border: 0;
  padding: 10px 30px;
  color: #202020;
  outline: none;
  float: right;
  border: 1px solid #FFDF6C;
  background: #202020;
  color: #FFDF6C;
}

.footer {
  text-align: center;
  margin-top: 50px;
  height: 100px;
}

.footer .fab {
  font-size: 25px;
  color: #FFFFFF;
  margin: 10px;
}

.footer .fab:hover {
  color: #FFDF6C;
}

.footer .name {
  font-size: 20px;
  color: #FFFFFF;
}

@media (max-width: 560px) {
  .homepage h2 {
    margin-top: 250px;
  }
  .info-section .top-wave {
    margin-top: 150px;
  }
  .about {
    height: 100vh;
  }
  .about .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about img {
    width: 120px;
  }
  .about .content {
    margin-top: 30px;
    padding: 0 !important;
  }
  .about p {
    text-align: justify;
  }
  .services .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services p {
    margin-top: 12px;
  }
}

@media (max-width: 625px) {
  .toggleBtn {
    display: block;
    z-index: 3;
  }
  .toggleBtn i {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .nav .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 0;
    overflow: hidden;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
  }
  .nav li {
    text-align: center;
    margin: 8px;
  }
}

@media (max-width: 925px) {
  .contact .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .container .form {
    padding: 0 10px 0 30px;
  }
}

.rotate-arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.toggle-navlink {
  height: 310px !important;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.sticky {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*# sourceMappingURL=style.css.map */